<h1>Getting Started</h1>

In [1]:
# if you are running in the notebooks folder example cloned from github this line must be included
import sys
import os
sys.path.insert(0, os.path.abspath('../'))

<h3>Import CtllDes and poliastro, the core and utils elements </h3>

In [2]:
import numpy as np

#Propagator engine
import poliastro

#The library
import CtllDes 
from CtllDes.core import ctll, satellite

#Throughout this examples it will be necessary to use the correct
#physical dimensions, astropy.units will help us with that
import astropy.units as u

WARNING: AstropyDeprecationWarning: The private astropy._erfa module has been made into its own package, pyerfa, which is a dependency of astropy and can be imported directly using "import erfa" [astropy._erfa]

# Building an orbit 

The first step is to define an orbit. You can do this in a variety of ways as showed below.

### Building from classical orbit parameters

In [3]:
#Orbit object, more info on poliastro API reference.
from poliastro.twobody import Orbit

#The bodies module specifies attractors
from poliastro.bodies import Earth


#Planes of reference and Epochs, are almost every time 
#the default ones, but just in case if you want to use 
#any other, they can be found in the following modules

#import planes of reference, EARTH_EQUATOR 
from poliastro.frames import Planes

#import J2000 time reference from constants 
from poliastro.constants import J2000



### Specify classical orbit parameters ###

a = 8000 * u.km # semi-major axis [distance]
ecc = 0 * u.one # eccentricity [dimensionleess]
inc = 98 * u.deg # inclination [angle] 
raan = 0 * u.rad # right ascencion of the ascending node [angle]
argp = 0 * u.rad # perigee argument [angle]
nu = 0 * u.rad # true anomaly [angle]

plane = Planes.EARTH_EQUATOR # not necessary to specify
epoch = J2000 # not necessary to specify

#classmethod of Orbit
orb = Orbit.from_classical(Earth,
                            a,
                            ecc,
                            inc,
                            raan,
                            argp,
                            nu)

### Other poliastro.twobody.Orbit classmethods

In [4]:
#more on poliastro API reference
orb = Orbit.heliosynchronous(Earth, a=8000*u.km, ecc=0*u.one)
orb = Orbit.from_vectors(Earth, [8000,0,0]*u.km, [0,7,0]*u.km/u.s)

### Orbit utilities for repeating ground track and heliosynchronous orbits

In [5]:
from CtllDes.utils import sscalc

D = 7 #days of revisit
orb_df = sscalc.helio_rgt_synchronous(D) #dataframe
orb_df #radius [km], inclination [degrees], revolutions per day.

          radius         inc          N
0   11544.182918  142.248541   7.000000
1   11389.626716  138.961424   7.142857
2   11240.148578  136.071863   7.285714
3   11095.486092  133.496401   7.428571
4   10955.395204  131.177130   7.571429
..           ...         ...        ...
66   6535.898060   96.204172  16.428571
67   6498.279346   96.079672  16.571429
68   6461.197311   95.958727  16.714286
69   6424.639809   95.841203  16.857143
70   6388.595066   95.726977  17.000000

[71 rows x 3 columns]

In [6]:
#use pandas to filter the desired parameters
earth_R = Earth.R_mean.to(u.km).value #value in km of earth mean Radius

min_radius = 500 + earth_R
max_radius = 900 + earth_R
filtered = orb_df.loc[(orb_df['radius'].values < max_radius) &
                      (orb_df['radius'].values > min_radius)]
filtered

         radius        inc          N
50  7222.422363  98.816646  14.142857
51  7174.189097  98.610796  14.285714
52  7126.753168  98.411801  14.428571
53  7080.093692  98.219362  14.571429
54  7034.190529  98.033200  14.714286
55  6989.024251  97.853046  14.857143
56  6944.576109  97.678649  15.000000
57  6900.828006  97.509769  15.142857

In [7]:
#select the desired cop, i.e. classical orbit parameters
cop = filtered.loc[55] #pick one from the df
a = cop['radius']*u.km #radius = semi-major axis
ecc = 0 * u.one # this is cant be different than 0 since the helio_rgt is for circular orbits
inc = cop['inc']*u.deg

#reuse past raan, argp and nu
orb = Orbit.from_classical(Earth,
                            a,
                            ecc,
                            inc,
                            raan,
                            argp,
                            nu)

# Building satellites

 Satellite is one of the main classes in this library. You can build a satellite reading the docs, you are encouraged to use the classmethods.

In [8]:
from CtllDes.core.satellite import Sat


### Building satellite from classmethods.

In [9]:
sat = Sat.from_orbit(orb) 
sat = Sat.from_vectors([8000,0,0]*u.km,
                       [0,7,0]*u.km/u.s,
                      attractor=Earth)

# Satellite's parameters

In [10]:
sat.info() #general info at t=0

id : a0f6e9db-9705-4306-bf6b-149fddb22080	[a ecc inc raan argp nu] : [7869.7 km 0.0 0.0 rad 0.0 rad 3.1 rad -3.1 rad]		status : Online

### Physical Specifications

In [11]:
print(sat.spec) #None specified, default parameters selected

 m:1.0 kg, Cd:1.0, A:1.0 m2

### Status

In [12]:
sat.status #None specified, Online status

'Online'

### Instruments

In [13]:
sat.instruments #None specified, empty list

[]

### Universal Unique Identfier

In [14]:
sat.id

UUID('a0f6e9db-9705-4306-bf6b-149fddb22080')

### Attractor

In [15]:
sat.attractor

Earth (♁)

### Orbit

In [16]:
sat.orbit

7739 x 8000 km x 0.0 deg (GCRS) orbit around Earth (♁) at epoch J2000.000 (TT)

#  Physical Specifications

In [17]:
from CtllDes.core import specs

In [18]:

drag_coef = 2.2*u.one
mass = 200*u.kg
Area = 10*u.m**2

spec = specs.Specifications(m=mass, Cd=drag_coef, A=Area)

In [19]:
sat.update_spec(spec)
print(sat.spec)

 m:200.0 kg, Cd:2.2, A:10.0 m2

#  Status (in dev)

In [20]:
#In development. Until now is just a string identifying if the 
#satellite is Online or not. This will impact when calculating
#merit figures.

In [21]:
sat.update_status('Shutoff')
sat.status

Warning, notImplemented

'Online'

# Instruments

The instruments module is explained in more detailed in instruments.ipynb. There you can find how to create new instruments and For now, the example below will just update the instrument with a default Camera one.

In [22]:
from CtllDes.core import instrument

In [23]:
camera = instrument.Camera(800, 0.01) # pixels, angle resolution
sat.update_instruments(camera,f=True) # force option
sat.instruments

# Building a Constellation

In [24]:
#since a constellation is a set of satellite we will build a few more.

sat0 = sat
sat1 = Sat.from_vectors([8000,0,0]*u.km,
                        [0,7,0]*u.km/u.s,
                        attractor=Earth)
sat2 = Sat.from_orbit(Orbit.heliosynchronous(Earth,
                                             a=8000*u.km,
                                             ecc=0*u.one))

In [25]:
constellation = ctll.Ctll.from_sats([sat0,sat1,sat2])

In [26]:
constellation.info()

3 satellites within no Pattern

In [27]:
constellation.info(v=True)

3 satellites in no Pattern

id : 1b5a6666-0af1-4a7e-96ba-c183c0797ba6	[a ecc inc raan argp nu] : [7869.7 km 0.0 0.0 rad 0.0 rad 3.1 rad -3.1 rad]		status : Online
id : 0cf53a33-8c11-4924-9882-99a6c3ed4f88	[a ecc inc raan argp nu] : [7869.7 km 0.0 0.0 rad 0.0 rad 3.1 rad -3.1 rad]		status : Online
id : 7e272f81-4c54-49bf-b5c0-183569efaaf1	[a ecc inc raan argp nu] : [8000.0 km 0.0 1.8 rad 610.5 deg 0.0 deg 0.0 deg]		status : Online

In [28]:
ids = constellation.online_id
ids

[UUID('1b5a6666-0af1-4a7e-96ba-c183c0797ba6'),
 UUID('0cf53a33-8c11-4924-9882-99a6c3ed4f88'),
 UUID('7e272f81-4c54-49bf-b5c0-183569efaaf1')]

In [29]:
sat_by_id = constellation.get_sat(ids[1])
sat_by_id.info()

id : 0cf53a33-8c11-4924-9882-99a6c3ed4f88	[a ecc inc raan argp nu] : [7869.7 km 0.0 0.0 rad 0.0 rad 3.1 rad -3.1 rad]		status : Online

In [30]:
constellation.sats[1].info()

id : 0cf53a33-8c11-4924-9882-99a6c3ed4f88	[a ecc inc raan argp nu] : [7869.7 km 0.0 0.0 rad 0.0 rad 3.1 rad -3.1 rad]		status : Online

In [31]:
constellation.instruments

[[<CtllDes.core.instrument.Camera at 0x7f3deac65250>], [], []]

In [32]:
camera1 = instrument.Camera(800,0.1)
camera2 = instrument.Camera(800,0.04)

In [33]:
#this wouldnt work since the constellation copies the sat info
sat1.update_instruments(camera1,f=True)
sat2.update_instruments(camera2,f=True)

constellation.instruments

[[<CtllDes.core.instrument.Camera at 0x7f3deac65250>], [], []]

In [34]:
constellation.sats[1].update_instruments(camera1,f=True)
constellation.sats[2].update_instruments(camera2,f=True)

constellation.instruments

[[<CtllDes.core.instrument.Camera at 0x7f3deac65250>],
 [<CtllDes.core.instrument.Camera at 0x7f3deac502b0>],
 [<CtllDes.core.instrument.Camera at 0x7f3deac506a0>]]

### Building specific pattern

In [35]:
#Build a Walker Delta constellation
T = 10
P = 5
F = 3

p = 12000*u.km
ecc = 0.3*u.one
inc = 99*u.deg
raan = 30*u.deg
argp = 20*u.deg
nu = 0.3*u.rad

WDctll = ctll.Ctll.from_WalkerDelta(T,
                                    P,
                                    F,
                                    p,
                                    ecc,
                                    inc,
                                    argp,
                                    raan_offset=raan,
                                    nu_offset=nu,
                                   )

In [36]:
WDctll.info(v=True)

10 satellites in Walker Delta Pattern T/P/F = 10/5/3

id : 1d6f25aa-f0d9-40aa-bdfb-9191bbff789a	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 30.0 deg 20.0 deg 17.2 deg]		status : Online
id : 6c9b0cca-23da-4109-bfc7-cfc31f22fa1c	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 30.0 deg 20.0 deg -162.8 deg]		status : Online
id : 82693a58-8fe6-4783-bac2-2acb672af236	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 102.0 deg 20.0 deg 125.2 deg]		status : Online
id : 6161eb63-2372-4739-af6a-b0f9bc005633	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 102.0 deg 20.0 deg -54.8 deg]		status : Online
id : 23b68105-4a6c-4145-89c2-334b490f49ae	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 174.0 deg 20.0 deg -126.8 deg]		status : Online
id : 3aa28312-3d85-4e5c-bef2-109e12af03bd	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 174.0 deg 20.0 deg 53.2 deg]		status : Online
id : f54f0c1b-ac2a-40eb-9473-11631bc45677	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 246.0 deg 20.0 deg -18.8 deg]		status : Online
id : f2f9738e-3c2d-4fca-8fce-fab076bd9d6f	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 246.0 deg 20.0 deg 161.2 deg]		status : Online
id : 3e41d62c-f501-4a9f-8e5a-41e2790fd4b2	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 318.0 deg 20.0 deg 89.2 deg]		status : Online
id : 2e752d28-901e-46c7-83f9-8e9bc9234146	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 318.0 deg 20.0 deg -90.8 deg]		status : Online

In [37]:
#default specs
print("\nSpecifications\n")
for spec in WDctll.specs:
    print(spec)

#default status
print("\nStatus\n")
for status in WDctll.status:
    print(status)

#default instruments
print("\nInstruments\n")
for instr in WDctll.instruments:
    print(instr)

Specifications

 m:1.0 kg, Cd:1.0, A:1.0 m2
 m:1.0 kg, Cd:1.0, A:1.0 m2
 m:1.0 kg, Cd:1.0, A:1.0 m2
 m:1.0 kg, Cd:1.0, A:1.0 m2
 m:1.0 kg, Cd:1.0, A:1.0 m2
 m:1.0 kg, Cd:1.0, A:1.0 m2
 m:1.0 kg, Cd:1.0, A:1.0 m2
 m:1.0 kg, Cd:1.0, A:1.0 m2
 m:1.0 kg, Cd:1.0, A:1.0 m2
 m:1.0 kg, Cd:1.0, A:1.0 m2

Status

Online
Online
Online
Online
Online
Online
Online
Online
Online
Online

Instruments

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

# Changing default instruments, status and specifications.

In [38]:
#check amount of satellites inside Walker Delta Ctll
WDctll.N

10

### Specifications

In [39]:
general_spec = specs.Specifications(m=30*u.kg,Cd=1.5*u.one,A=50*u.m**2)
spec_lst = [general_spec for _ in range(WDctll.N)]
WDctll.update_specs(spec_lst)

#new specs
for spec in WDctll.specs:
    print(spec)

 m:30.0 kg, Cd:1.5, A:50.0 m2
 m:30.0 kg, Cd:1.5, A:50.0 m2
 m:30.0 kg, Cd:1.5, A:50.0 m2
 m:30.0 kg, Cd:1.5, A:50.0 m2
 m:30.0 kg, Cd:1.5, A:50.0 m2
 m:30.0 kg, Cd:1.5, A:50.0 m2
 m:30.0 kg, Cd:1.5, A:50.0 m2
 m:30.0 kg, Cd:1.5, A:50.0 m2
 m:30.0 kg, Cd:1.5, A:50.0 m2
 m:30.0 kg, Cd:1.5, A:50.0 m2

### Instruments

In [40]:
general_instrument = instrument.Camera(1000,0.1)
instr_lst = [general_instrument for _ in range(WDctll.N)]
WDctll.update_instruments(instr_lst,f=True)

#new instruments
for instr in WDctll.instruments:
    print(instr)

[<CtllDes.core.instrument.Camera object at 0x7f3deac50610>]
[<CtllDes.core.instrument.Camera object at 0x7f3deac50a00>]
[<CtllDes.core.instrument.Camera object at 0x7f3deac38760>]
[<CtllDes.core.instrument.Camera object at 0x7f3deac38640>]
[<CtllDes.core.instrument.Camera object at 0x7f3deac384c0>]
[<CtllDes.core.instrument.Camera object at 0x7f3deac382e0>]
[<CtllDes.core.instrument.Camera object at 0x7f3deac38340>]
[<CtllDes.core.instrument.Camera object at 0x7f3deac38160>]
[<CtllDes.core.instrument.Camera object at 0x7f3deac38850>]
[<CtllDes.core.instrument.Camera object at 0x7f3deac38100>]

### Status (in dev)

In [41]:
#

# Adding Constellations

In [42]:
added_ctll = constellation + WDctll
added_ctll.info(v=True)

10 satellites in Walker Delta Pattern T/P/F = 10/5/3

id : a2d0826a-fd87-4ede-8a14-ef406a7311e3	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 30.0 deg 20.0 deg 17.2 deg]		status : Online
id : b8859aaf-5620-4103-97f9-131a207424e2	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 30.0 deg 20.0 deg -162.8 deg]		status : Online
id : bcea4771-2bda-4d72-ab8b-dfe035bef979	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 102.0 deg 20.0 deg 125.2 deg]		status : Online
id : 35085395-01bf-4949-9dac-697d0f6b5e57	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 102.0 deg 20.0 deg -54.8 deg]		status : Online
id : 9570a04f-0cb9-4fc0-8d4a-60600c348779	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 174.0 deg 20.0 deg -126.8 deg]		status : Online
id : d301834d-3152-476c-abee-cbf4fafb170d	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 174.0 deg 20.0 deg 53.2 deg]		status : Online
id : fb0171ef-8179-4b30-92ca-3129a2e5c73d	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 246.0 deg 20.0 deg -18.8 deg]		status : Online
id : a7cce142-e946-4daf-b3e7-b8587e112a5c	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 246.0 deg 20.0 deg 161.2 deg]		status : Online
id : ea847499-2760-4a27-979e-9ecca446ff62	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 318.0 deg 20.0 deg 89.2 deg]		status : Online
id : 5452f845-4aed-4f3d-95ab-1979adcc972e	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 318.0 deg 20.0 deg -90.8 deg]		status : Online

3 satellites in no Pattern

id : 0d52fcc5-62aa-4b03-9a90-3699934f9f34	[a ecc inc raan argp nu] : [7869.7 km 0.0 0.0 rad 0.0 rad 3.1 rad -3.1 rad]		status : Online
id : d480f085-a807-488c-8d89-d201a4822da7	[a ecc inc raan argp nu] : [7869.7 km 0.0 0.0 rad 0.0 rad 3.1 rad -3.1 rad]		status : Online
id : b42ba097-5d5b-4a55-8aa0-f48229205b98	[a ecc inc raan argp nu] : [8000.0 km 0.0 1.8 rad 610.5 deg 0.0 deg 0.0 deg]		status : Online

In [43]:
#the above cell is equivalent to the following except from the fact that the patterns are not inherited
added_ctll = ctll.Ctll.from_sats(constellation.sats+WDctll.sats)
added_ctll.info(v=True)

13 satellites in no Pattern

id : 2b6c6289-c337-4fbe-903a-ed3079493721	[a ecc inc raan argp nu] : [7869.7 km 0.0 0.0 rad 0.0 rad 3.1 rad -3.1 rad]		status : Online
id : cfcad128-941f-4461-9816-0533fdb62697	[a ecc inc raan argp nu] : [7869.7 km 0.0 0.0 rad 0.0 rad 3.1 rad -3.1 rad]		status : Online
id : 7fff2561-07e2-4243-80c2-5dc14b5736db	[a ecc inc raan argp nu] : [8000.0 km 0.0 1.8 rad 610.5 deg 0.0 deg 0.0 deg]		status : Online
id : 37c619bc-e620-4c33-afe4-18c5c4f658a7	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 30.0 deg 20.0 deg 17.2 deg]		status : Online
id : 8fbeb826-17c5-45ff-bc33-bc657fa7edde	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 30.0 deg 20.0 deg -162.8 deg]		status : Online
id : b3c177a0-b452-4239-8415-232335134ca4	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 102.0 deg 20.0 deg 125.2 deg]		status : Online
id : 6cd89de4-8fc3-4d66-823d-d809d065e24e	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 102.0 deg 20.0 deg -54.8 deg]		status : Online
id : 14d35116-59fd-4ea5-aed8-0ed6830da947	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 174.0 deg 20.0 deg -126.8 deg]		status : Online
id : 30108ab5-3593-4065-947f-9098964ae2f3	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 174.0 deg 20.0 deg 53.2 deg]		status : Online
id : 21e748e4-62ef-41c8-9688-6c3e1cf48021	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 246.0 deg 20.0 deg -18.8 deg]		status : Online
id : 2110aaea-8d06-4e53-a70c-b7ffd6e2ecbb	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 246.0 deg 20.0 deg 161.2 deg]		status : Online
id : d7991574-f93f-4480-894a-fb22982e343a	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 318.0 deg 20.0 deg 89.2 deg]		status : Online
id : f85ae65c-d52b-444c-83ab-66b8a6bdd8a4	[a ecc inc raan argp nu] : [13186.8 km 0.3 99.0 deg 318.0 deg 20.0 deg -90.8 deg]		status : Online

# Propagation

In order to obtain the ephemerides of the satellite you can use the rv method for the Sat class as well as the Ctll class.

### Satellite

In [44]:
#As you can see in the documentation 

#T days 
#dt interval in seconds
#drag and J2, perturbations used in propagation
r_sat,v_sat = added_ctll.sats[0].rv(30,dt=50, J2=True, drag=False)
lon_sat,lat_sat = added_ctll.sats[0].ssps(4,J2=False)

### Constellation

In [45]:
rv_ctll = added_ctll.rv(30, dt=10, drag = True, J2=True)
r,v = rv_ctll[0]

lonlat_ctll = added_ctll.ssps(5,dt=10,J2=True,drag=True)
lon,lat = lonlat_ctll[0]

### Plotting r (xyz)

In [46]:
import matplotlib.pyplot as plt
%matplotlib qt5

In [47]:
fig = plt.figure(figsize=(10,10))
ax = fig.add_subplot(111, projection='3d')
ax.scatter(r_sat[::50,0], r_sat[::50,1], r_sat[::50,2],s=0.5,c='k') #xyz obviously
ax.scatter(0,0,0,c='blue', s=6370)

plt.show()

In [48]:
fig = plt.figure(figsize=(10,10))
ax = fig.add_subplot(111, projection='3d')
ax.scatter(r[::50,0], r[::50,1], r[::50,2],s=0.5,c='k') #xyz obviously
ax.scatter(0,0,0,c='blue',s=6370)

plt.show()

### Plotting groundtrack

In [88]:
lons, lats = added_ctll.sats[-1].ssps(1,J2=True,drag=False)

fig = plt.figure()
plt.scatter(lons[::10],lats[::10],c='k',s=0.1)
plt.show()