In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import astropy as astr
import astropy.units as u
import astropy

In [3]:
from poliastro.bodies import Earth, Sun
from poliastro.frames import Planes
from poliastro.constants import J2000
from poliastro.ephem import Ephem

WARNING: AstropyDeprecationWarning: The private astropy._erfa module has been made into its own package, pyerfa, which is a dependency of astropy and can be imported directly using "import erfa" [astropy._erfa]

# Define a function using poliastro utilities in order to obtain the sun-earth vector
this could be added to the library if needed, but I don't think is appropriate since every utility comes from poliastro and astropy libraries.

In [4]:
def bodies_vector(T, dt, body1, body2, epoch=J2000, timedelta = None):
    """Returns vector for every dt in [0,T] from bodie1 to bodie2
    
    Parameters
    ----------
    T : float
        time of propagation
    dt : float
        time interval
    body1 : ~poliastro.bodies.Body
        first body
    body2 : ~poliastro.bodies.Body
        second body
    epoch : ~astropy.time.Time, optional
        Epoch offset
    timedelta : ~astropy.time.Time, optional
        desired time of propagation
    
    Returns
    -------
    diff : ~astropy.units.quantity.Quantity
        vectors for timedelta propagation from body1 to body2
    """
    
    DT_TIME = 500
    if not timedelta:
        time_delta = astropy.time.Time([epoch + j*DT_TIME*u.s for j in range(int(3600*24*1.01*T/DT_TIME))])
    else:
        time_delta = timedelta
    
    ephem_b1 = Ephem.from_body(body1, time_delta.tdb)
    ephem_b2 = Ephem.from_body(body2, time_delta.tdb)
    
    tofs = astropy.time.Time([epoch + j*dt*u.s for j in range(int(3600*24*T/dt))])
    r_b1, _ = ephem_b1.rv(tofs)
    r_b2, _ = ephem_b2.rv(tofs)
    
    diff = (r_b2-r_b1).to(u.km)
    return diff

In [4]:
sun_earth = bodies_vector(10, 50, Earth, Sun)

In [71]:
import sys
import geopandas as gpd

cities_fp = sys.path[0] + '/../CtllDes/targets/location-cities/worldcities.csv'
cities_df = pd.read_csv(cities_fp)

In [73]:
cities_df.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140

In [101]:
aver=cities_df.loc[(cities_df['city'] == 'Buenos Aires')]

In [106]:
lon,lat = aver[['lng','lat']].values[0]

array([-58.3819, -34.5997])

In [109]:
lon,lat = aver[['lng','lat']].values[0]
lat

-34.5997